@import url(//fonts.googleapis.com/css?family=Open+Sans);

body {
  background-color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #666;
}

.full {
  display: flex;
  flex-direction: column;
}

img {
  align-self: center;
  margin: 1rem 0;
  width: auto;
}

.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: #f3f3f3;
  height: 800px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #253237;
  font-weight: 600;
  font-size: 2.5rem;
  margin-left: 2.5rem;
  max-width: 1080px;
  line-height: 1.1;
}

h4 {
  margin-bottom: 0.5rem;
}

h5 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

h6 {
  font-size: 1.6rem;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
}

.justi {
  text-align: justify;
}

.divWelcome {
  margin-left: 2.5rem;
  font-size: 1.5rem;
  margin-top: 0;
  max-width: 1080px;
}

.divRazon::after {
  content: "*";
  color: #e3242b;
}

input {
  margin: 0 0 1rem 2.5rem;
  font-size: 1.8rem;
  display: block;
  width: 100%;
  max-width: 1080px;
}

#input-razon-social {
  margin-bottom: 1.5rem;
}

input:focus,
textarea:focus {
  outline: none;
}

li {
  background-color: #fff;
  color: #253237;
  margin: 0 0 1rem 0;
  list-style-type: none;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.6rem;
  font-weight: 600;
}

.selected {
  background-color: #253237;
  color: #fff;
}

button {
  background-color: #253237;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  font-size: 1.5rem;
  margin: 0 0 2rem 2.5rem;
  cursor: pointer;
  text-transform: uppercase;
  width: 200px;
}

.acceptBtn {
  background-color: #253237;
  color: #fff;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
  font-size: 1.5rem;
  margin: 0 0 2rem 2.5rem;
  cursor: pointer;
  text-transform: uppercase;
  width: 200px;
}

.thirdQText::after,
.sixthQText::after {
  content: " (Respuesta múltiple).";
  font-size: 1.5rem;
}

.fifthQExtraItems {
  display: flex;
  flex-direction: column;
}

textarea {
  background-color: #fff;
  color: #253237;
  font-size: 1.6rem;
}

.extraBtn {
  margin: 1rem 0 0 0;
}

p {
  margin-left: 2.5rem;
  font-size: 1.5rem;
  margin-top: 0;
  max-width: 1080px;
}

.emailContainer {
  display: flex;
  margin-bottom: 0;
  align-items: flex-start;
}

.emailInput {
  height: 2.5rem;
}

.none {
  display: none;
}

.addEmail {
  font-size: 2.5rem;
  background-color: transparent;
  padding: 0;
  width: auto;
  color: #253237;
  margin-bottom: 0;
}

.rightCol {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.arrows {
  display: flex;
  justify-content: space-around;
}

#backBtn,
#forwardBtn {
  color: #253237;
  background-color: #f3f3f3;
  font-size: 2.8rem;
}

.copyright {
  align-self: center;
  line-height: 2.4rem;
  text-decoration: none;
  color: #666;
}
